* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	scrollbar-width: none;
}

body {
	background: #333;
	color: white;
	height: 100vh;
	font-family: sans-serif;
}

.movil {
	display: none;
}

.icon {
	width: 45px;
	height: 45px;
	cursor: pointer;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid black;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(4px);
	padding: 10px;
	margin: 10px;
	border-radius: 30px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .7);
	transition: all .4s ease-in-out;
}

h3 {
	cursor: pointer;
	transition: all .5s ease-in-out;
}

h3:hover {
	transform: scale(1.1) translateY(-7px);
	color: #f0c260;
	transition: all .6s ease-in-out;
}

nav:hover h3:not(:hover) {
	filter: blur(2px);
}

nav{animation:scale-up-top 0.4s; } @keyframes scale-up-top{0%{transform:scale(.5);transform-origin:center top}100%{transform:scale(1);transform-origin:center top}}

main {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px;
	padding: 20px;
}

h1 {
	color: #f0c260;
	margin-bottom: 10px;
	font-size: 40px	;
}

p {
	font-size: 18px;
}

.image {
	width: 100%;
}

i {
	font-size: 20px;
}








@media screen and (max-width: 600px) {
	.pc {
		display: none;
	}
	.movil {
		display: flex;
	}
	h3 {
		cursor: none;
	}
	main {
		display: block;
	}
}